doctype html
html
  head
    title Notes app
    link(rel='stylesheet' href='/static/main.css')


  body
    header.navbar
      h1.logo 
        a(href='/') Notes

      nav.nav
        a(href='/all-notes') All notes
        a(href='/archive') Archive

    block content